.advancedModelResult {
    font-size: 1rem;
    padding: 0 10%;
}

.advancedModelTable {
    font-size: 0.875rem;
    border: 0.5px solid #d8d8d8;
    .modelName {
        display: inline-block;
        width: 100px;
        text-align: center;
    }
    .adrow {
        display: flex;
        cursor: pointer;
        justify-content: space-around;
        align-items: center;
        text-align: center; 
        .adcell {
            padding: 0.2em;
            border: 0.5px solid #d8d8d8;
            height: 3em;
            flex: 1;
            padding: 0 0.5em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 3em;
        }
    }
}

.detailCurves {
    display: flex;
    .leftPanel {
        min-width: 300px;
        padding: 0.5em 3em;
        background-color: #f0f0f0;
        min-height: 200px;
        button {
            margin-right: 0.2em;
        }
        .predictTable {
            background-color: white;
            margin: 1em 0;
            th, td {
              padding: 0 8px !important;
            }
            :global(.ant-table-tbody) {
              :global(.ant-table-row):first-child,
              :global(.ant-table-row):nth-of-type(2) {
                td:nth-of-type(1) {
                  background-color: rgb(234, 239, 245);
                }
              }
            }
            :global(.ant-table-thead) {
              th {
                background-color: white;
              }
              th:nth-of-type(2),
              th:nth-of-type(3) {
                background-color: rgb(237, 253, 219);
              }
            }
        } 
    }
}
