.loading {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.training {
    display: flex;
    width: 8em;
}

.trainingProgress {
    text-align: center;
}

.trainingText {
    display: flex;
}

.trainingText span {
    font-size: 1.5rem;
}

.trainingAbort {
    display: flex;
    flex: none;
    justify-content: center;
    margin-top: 0.1em;
}

.abortButton {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #1d2b3c;
    background-image: linear-gradient(to bottom, #ffffff, #f1f3f5);
    padding: 0.1em 0.3em;
    cursor: pointer;
}

.abortButton span {
    font-size: 1rem;
    font-weight: bold;
    color: #1d2b3c;
    font-family: 'Source Han Sans SC';
}
