.modelStart {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 0 10%;
}

.startTitle {
  display: flex;
  margin: 0.45em 0;
  font-family: HelveticaNeue;
}

.startTitle span {
  font-size: 1.5rem;
}

.trainBox {
  display: flex;
  flex-direction: column;
  width: 4.5em;
  height: 4.5em;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: solid 1px #c4cbd7;
  position: relative;
  margin: 0 auto
}

.train {
  display: flex;
  flex: 0 0 0.4em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(to bottom, #5b657b, #243448);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.train span {
  font-family: Arial;
  font-size: 1rem;
  color: #ffffff;
  display: flex;
}

.trainBlock {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
}

.trainRecommend {
  display: flex;
  position: absolute;
  left: 0.3em;
  top: 0.2em;
}

.trainRecommend span {
  font-size: 0.875rem;
}

.trainImg {
  display: flex;
  margin-top: 1.1em;
  flex: none;
}

.trainName {
  display: flex;
  justify-content: center;
  margin: 0.2em 0;
}

.trainName span {
  display: flex;
  font-size: 1.5rem;
}

.trainDesc {
  display: flex;
  justify-content: center;
  margin: 0.13em 0.5em;
}

.trainDesc span {
  font-size: 0.875rem;
  display: flex;
  line-height: 1.43;
  color: #747473;
}

.trainWarp {
  display: flex;
  flex: none;
}

.trainSep {
  display: flex;
  flex: none;
  width: 0.4em;
}

.advancedModel {
  display: flex;
  flex: none;
  flex-direction: column;
}

.advancedContent {
  display: flex;
  flex: none;
  flex-direction: column;
  margin: -0.2em -0.5em;
}

.tabBox {
  background-color: #ffffff;
  box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.27);
  display: flex;
  flex: none;
  justify-content: center;
  padding-top: 0.15em;
}

.tab {
  display: flex;
  flex: none;
  justify-content: center;
  width: 3.2em;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  padding: 0.15em 0;
}

.tab.active {
  border-bottom-color: #1d2b3c;
}

.tab span {
  font-family: HelveticaNeue;
  font-size: 1.125rem;
  line-height: 1.15;
  color: #979797;
}

.tab.active span {
  color: #1d2b3c;
}

.simplified {
  display: flex;
  flex: none;
  padding: 0.35em 0.65em;
  flex-direction: column;
  position: relative;
}

.simplifiedLoad {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0.25em;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.targetTable {
  display: flex;
  flex: none;
  flex-direction: column;
  border: solid 0.5px #979797;
  max-width: 9em;
}

.targetHead {
  display: flex;
  flex: none;
  padding: 0.1em 0;
  margin: 0 0.2em;
  border-bottom: 1px solid #000;
}

.targetRow {
  display: flex;
  flex: none;
  padding: 0.1em 0;
  margin: 0 0.2em;
}

.targetCell {
  display: flex;
  flex: 1 1;
  width: 0;
  padding: 0 0.05em;
  align-items: center;
  position: relative;
}

.targetCell span {
  font-family: SanFranciscoText;
  color: #4a4a4a;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
}

.large {
  flex: 2 1;
}

.targetName {
  flex: 2 1;
}

.targetName span {
  font-size: 1.125rem;
}

.targetHistogram {
  flex: 2 1;
  cursor: pointer;
}

.targetHistogram img {
  margin-right: 0.05em;
}

.targetHistogram span {
  text-decoration-line: underline;
  color: #448eed;
}

.simplifiedText {
  display: flex;
  flex: none;
  margin: 0.15em 0;
}

.simplifiedText span {
  font-family: HelveticaNeue;
  font-size: 1.125rem;
  line-height: 1.15;
  color: #4a4a4a;
}

.tool {
  display: flex;
  flex: none;
  height: 0.4em;
}

.toolSelect {
  display: flex;
  flex: none;
  align-items: center;
  margin-right: 0.45em;
}

.toolSelect select {
  font-family: HelveticaNeue;
  font-size: 1rem;
  line-height: 1.2;
  color: #4a4a4a;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #ffffff, #f1f3f5);
  border: solid 1px #c4cbd7;
  height: 100%;
  padding: 0 1rem;
}

.toolLabel {
  display: flex;
  flex: none;
  margin-right: 0.15em;
}

.toolLabel span {
  height: 1.2;
  font-family: HelveticaNeue;
  font-size: 1rem;
  font-weight: bold;
  color: #4a4a4a;
}

.toolButton {
  display: flex;
  flex: none;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #5b657b, #243448);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 0 0.3em;
  cursor: pointer;
}

.toolButton span {
  line-height: 1.2;
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #ffffff;
}

.toolCheck {
  margin-left: auto;
}

.table {
  display: flex;
  flex: none;
  flex-direction: column;
  margin: 0.1em 0;
  border: solid 0.5px #757575;
}

.table span {
  font-family: SanFranciscoText;
  color: #4a4a4a;
  font-size: 0.875rem;
  line-height: 1.5;
}

.tableHeader {
  display: flex;
  flex: none;
  padding: 0.15em 0;
  border-bottom: 1px solid #757575;
  padding-right: 0.2em;
}

.tableTh {
  display: flex;
  flex: 1 1;
  width: 0;
  align-items: center;
  justify-content: center;
  margin: 0 0.05em;
}

.tableBody {
  display: flex;
  flex: none;
  flex-direction: column;
  margin: 0.1em 0;
  max-height: 2.6em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tableRow {
  display: flex;
  flex: none;
}

.tableTd {
  display: flex;
  flex: 1 1;
  width: 0;
  align-items: center;
  justify-content: center;
  margin: 0 0.05em;
  padding: 0.05em 0;
  border-bottom: #9b9b9b 1px solid;
  margin-bottom: -1px;
  position: relative;
}

.tableTd span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tableChart {
  flex: 2 1;
  cursor: pointer;
  border-bottom-color: transparent;
}

.tableChart img {
  margin-right: 0.05em;
  width: 0.4em;
  height: 0.3em;
}

.tableChart span {
  text-decoration-line: underline;
  color: #448eed;
}

.tableLarge {
  flex: 2 1;
}

.tableCheck {
  flex: none;
  width: 0.5em;
  border-bottom-color: transparent;
}

.tableImportance {
  flex: 3 1;
  border-bottom-color: transparent;
  justify-content: flex-start;
}

.tableSort {
  display: flex;
  margin-right: 0.1em;
  flex: none;
  cursor: pointer;
}

.tableReload {
  display: flex;
  margin: 0 0.1em;
  flex: none;
  cursor: pointer;
}

.none span {
  color: #9b9b9b;
}

.preImpotance {
  display: flex;
  flex: auto;
  height: 0.15em;
  background: #ddd;
  border-radius: 0.15em;
  overflow: hidden;
}

.preImpotanceActive {
  display: flex;
  flex: none;
  height: 0.15em;
  background: #5cca71;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
  flex: none;
}

.bottom button {
  display: flex;
  padding: 0.1em 0;
  width: 1.1em;
  outline: none;
  border: none;
  margin: 0 0.1em;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
}

.save {
  background-image: linear-gradient(to bottom, #5b657b, #243448);
}

.save span {
  font-family: Arial;
  font-size: 0.875rem;
  line-height: 1.1;
  color: #fff;
}

.cancel {
  background: #fff;
  color: #4a4a4a;
}

.cancel span {
  font-family: Arial;
  font-size: 0.875rem;
  color: #4a4a4a;
  line-height: 1.1;
}

.advanced {
  display: flex;
  flex: none;
  padding: 0.2em 0.65em;
  flex-direction: column;
  position: relative;
}

.advancedRow {
  display: flex;
  flex: none;
  border-bottom: dashed 1px #c4cbd7;
}

.advancedRow:last-child {
  border-bottom-style: solid;
}

.advancedLeft {
  display: flex;
  flex: 1 1;
  width: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-right: 0.15em;
}

.advancedRight {
  display: flex;
  flex: 1 1;
  width: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-left: 0.15em;
}

.advancedTitle {
  display: flex;
  flex: none;
  justify-content: center;
  flex-direction: column;
}

.advancedTitle span {
  font-family: SanFranciscoText;
  font-size: 1.125rem;
  color: #000000;
  line-height: 1.2;
}

.advancedOption {
  display: flex;
  flex: 1 1;
  margin-left: 0.2em;
  align-items: center;
}

.advancedOption select {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000000;
  line-height: 1.2;
  padding: 5px 10px;
  width: 100%;
}

.advancedOption span {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000000;
  line-height: 1.2;
  max-width: 6em;
  text-align: center;
}

.advancedOption input[type='text'] {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000000;
  line-height: 1.2;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: solid 1px #979797;
}

.advancedBlock {
  display: flex;
  flex: none;
  margin: 0.15em 0;
}

.advancedOptionBox {
  display: flex;
  flex: none;
  margin-right: auto;
  align-items: center;
}

.advancedOptionBox label {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000000;
  line-height: 1.2;
  cursor: pointer;
}

.limit {
  width: 2.4em;
  flex-direction: column;
  flex: none;
}

span.advancedDesc {
  font-size: 0.75rem;
  line-height: 1.33;
}

.advancedSize {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000000;
  line-height: 1.2;
  padding: 5px 4px;
  width: 35%;
  text-align: center;
}

.antdAdvancedSize {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000000;
  line-height: 1.2;
  text-align: center;
  width: 100%;
}

.advancedBox {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.advancedPercentBlock {
  display: flex;
  flex: none;
  margin: 0.15em 0;
  position: relative;
  align-items: center;
  width: 100%;
}

.advancedPercent {
  display: flex;
  flex: none;
  width: 100%;
  align-items: center;
  height: 0.2em;
  border-radius: 0.2em;
  overflow: hidden;
  position: absolute;
}

.advancedPercentTrain {
  height: 0.2em;
  background-color: #9be44b;
  border-right: 1px solid #000
}

.advancedPercentValidation {
  height: 0.2em;
  background-color: #f9cf37;
  border-right: 1px solid #000
}

.advancedPercentHoldout {
  height: 0.2em;
  background-color: #31c4e9
}

.advancedPercentCross {
  height: 0.2em;
  background-color: #f9cf37;
  border-right: 1px solid #000
}

.range {
  display: flex;
  flex: none;
}

.advancedPercentBox {
  display: flex;
  flex: none;
  justify-content: space-between;
}

.advancedPercentInput {
  display: flex;
  flex: none;
  align-items: center;
}

.advancedPercentInput input {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000;
  line-height: 1.2;
  display: flex;
  flex: none;
  width: 35px;
  text-align: center;
}

.advancedPercentInput span {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000;
  line-height: 1.2;
  display: flex;
  flex: none;
}

.advancedPercentText {
  display: flex;
  flex: none;
  margin-right: 0.1em;
}

.advancedPercentText span {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000;
  line-height: 1.2;
}

.advancedPercetColor {
  display: flex;
  flex: none;
  width: 0.2em;
  margin-right: 0.15em;
  border: 0;
}

.inputLarge {
  width: 100%;
}

.advancedResampling {
  display: flex;
  flex: none;
  width: 35%;
  flex-direction: column;
  margin: 0.21em 0;
}

.advancedResampling .advancedOptionBox {
  margin-top: 0.2em;
}

.plot {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.plot img {
  max-height: 100%;
  max-width: 100%;
}

.plotLoad {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.plotClose {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  flex: none;
}

.plotClose span {
  font-size: 1.125rem;
  line-height: 1.1;
  font-family: Arial;
}

.advancedOther {
  display: flex;
  flex: none;
  flex-direction: column;
  width: 65%;
}

.otherLabel {
  width: 2em;
  flex-direction: column;
  flex: none;
}

.viewBox {
  display: flex;
  flex: none;
  flex-direction: column;
  position: relative;
}

.advancedPercentValid {
  height: 0.2em;
  background-color: #aac0fc;
}

.advancedPercentInvalid {
  height: 0.2em;
  background-color: #e6eaef;
}

.advancedCustomRange {
  display: flex;
  flex: none;
  flex-direction: column;
}

.advancedAlgorithmList {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  width: 100%;
}

.advancedAlgorithm {
  display: flex;
  flex: none;
  margin: 0.1em;
  align-items: center;
}

.advancedAlgorithm label {
  font-family: SanFranciscoText;
  font-size: 1rem;
  color: #000000;
  line-height: 1.2;
  cursor: pointer;
}

.newVariable {
  position: relative;
  display: flex;
  flex: none;
}

.newVariableBlock {
  position: absolute;
  left: 100%;
  bottom: -0.25em;
  margin: 0.1em;
  display: flex;
  flex: none;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
  padding: 0.1em;
}

.newVariableRow {
  display: flex;
  flex: none;
  align-items: center;
  margin: 0.05em 0;
}

.newVariableRow span {
  display: flex;
  flex: none;
  font-size: 1rem;
  line-height: 1.2;
  color: #4a4a4a;
}

.newVariableName {
  display: flex;
  width: 1em;
  margin-right: 0.05em;
  position: relative;
}

.newVariableFx {
  display: flex;
  width: 3em;
  margin-left: 0.05em;
  position: relative;
}

.newVariableInput {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #4a4a4a;
  width: 100%;
  outline: none;
  border: solid 1px #c4cbd7;
  padding: 7px 12px;
}

.newVariableButton {
  display: flex;
  flex: none;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.1em 0.25em;
  margin-right: 0.1em;
  margin-top: 0.6em;
  cursor: pointer;
}

.newVariableAdd {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #5b657b, #243448);
}

.newVariableCancel {
  border: solid 1px #8f97a4;
  background-color: transparent
}

.newVariableAdd span {
  color: #fff;
}

.newVariableCancel span {
  color: #1d2b3c;
}

.newVariableHintList {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex: none;
  flex-direction: column;
  background: #fff;
  margin-top: 0.05em;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
  max-height: 5em;
  overflow-y: auto;
}

.newVariableHint {
  display: flex;
  flex: none;
  padding: 0.1em 12px;
  cursor: pointer;
}

.activeHint {
  background: #ededed;
}

.newVariableSyntax {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex: none;
  flex-direction: column;
  background: #f0f4f9;
  padding: 0.1em 12px;
  margin-top: 0.05em;
}

.hasList {
  left: 100%;
}

.disable {
  cursor: not-allowed;
  background-color: #d3d3d3;
  color: #aaaaaa;
  background-image: none;
}