.listWrapper {
}
.filter {
  display: flex;
  height: 0.4em;
}
.searchName {
  display: flex;
  border: 1px solid #c4cbd7;
  padding: 0 0.15em;
  border-radius: 4px;
  flex: 0 1 3.78em;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.searchName input {
  font-size: 1rem;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  flex: 1 1 0;
  margin: 0 5px;
}

.iconSearch,
.iconDelete {
  cursor: pointer;
}

.sort {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sortTitle {
  font-size: 1.125rem;
  display: block;
}
.sortSelect {
  display: block;
  margin-left: 0.625em;
  height: 100%;
}
.selectWrapper {
  width: 1.88em;
  height: 100%;
}
.sortSelect :global(.ant-select-selection--single) {
  outline: none;
  border: none;
  box-shadow: none;
  background: linear-gradient(to bottom, #5b657b, #243448);
  color: white;
  height: 100%;
  display: block;
  display: flex;
  justify-content: start;
  align-items: center;
}
.sortSelect :global(.ant-select-arrow) {
  color: rgba(255, 255, 255, 0.8);
}
.sortSelect :global(.ant-select-selection__rendered) {
  margin-left: 20px;
}
.pagination {
  font-size: 1.25rem;
}
.pagination:global(.ant-pagination.mini .ant-pagination-item) {
  height: 2.5rem;
  line-height: 2.5rem;
}
.pagination :global(.ant-pagination-item a) {
  text-decoration: underline;
  color: #4a4a4a;
  margin: 0 3px;
}
.pagination :global(.ant-pagination-item-active) {
  border-color: transparent;
  color: #4a4a4a;
  font-weight: bold;
}
.pagination:global(.ant-pagination.mini .ant-pagination-jump-next),
.pagination:global(.ant-pagination.mini .ant-pagination-jump-prev) {
  vertical-align: bottom;
  color: #4a4a4a;
  letter-spacing: 4px;
}
.pagination :global(.ant-pagination-jump-prev:after),
.pagination :global(.ant-pagination-jump-next:after) {
  content: '\2022\2022\2022';
  font-size: 0.7rem;
  transform: none;
  font-family: inherit;
  color: #4a4a4a;
  letter-spacing: inherit;
  display: block;
}
.pagination :global(.ant-pagination-jump-prev:hover:after),
.pagination :global(.ant-pagination-jump-prev:focus:after),
.pagination :global(.ant-pagination-jump-next:hover:after),
.pagination :global(.ant-pagination-jump-next:focus:after) {
  content: '\2022\2022\2022';
  font-size: 0.7rem;
  transform: none;
  font-family: inherit;
  color: #4a4a4a;
  letter-spacing: inherit;
  display: block;
}
.pagination:global(.ant-pagination.mini .ant-pagination-prev),
.pagination:global(.ant-pagination.mini .ant-pagination-next) {
  margin: 0;
  min-width: 2.5rem;
  height: 2.5rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  color: #4a4a4a;
  background: linear-gradient(to bottom, #5b657b, #243448);
}
.pagination:global(.ant-pagination.mini
    .ant-pagination-prev
    .ant-pagination-item-link:after),
.pagination:global(.ant-pagination.mini
    .ant-pagination-next
    .ant-pagination-item-link:after) {
  height: 1.5rem;
  line-height: 1.5rem;
}
.pagination:global(.ant-pagination.mini
    .ant-pagination-prev
    .ant-pagination-item-link:after),
.pagination:global(.ant-pagination.mini
    .ant-pagination-next
    .ant-pagination-item-link:after) {
  color: rgba(255, 255, 255, 0.8);
}
.list {
  background: #e0e3e9;
  border: 1px solid #b5bec6;
  border-top: none;
  padding: 0 0.12em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 3.08em;
  overflow-y: scroll;
}
.head {
  border: 1px solid #b5bec6;
  border-bottom: none;
  background: #e0e3e9;
  display: flex;
  margin-top: 0.17em;
  padding: 0.14em 0.12em;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.head.scroll {
  padding-right: 0.29em;
}
.head span {
  font-size: 1.125rem;
  font-weight: bold;
}
.select {
  flex: 0.5 1 0;
}
.projectName,
.modelName {
  flex: 2 1 0;
}
.createdDate,
.owner {
  flex: 1 1 0;
}
.project {
  margin-bottom: 0.05em;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.15em 0;
  cursor: pointer;
}
.project:hover {
  background: #f6f6f8;
}
.project span {
  font-size: 1.125rem;
  line-height: 1.2;
}
.pot {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #455267;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pot.active:after {
  content: '';
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  background: #455267;
  border-radius: 50%;
  line-height: 1.5rem;
}
