.main {
  display: flex;
  flex: none;
  flex-direction: column;
  width: 330px;
}

.title {
  display: flex;
  flex: none;
  align-items: center;
}

.title span {
  color: #ff3151;
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex: none;
  margin: 30px 0;
}

.content span {
  color: #ccc;
}

.footer {
  display: flex;
  flex: none;
  justify-content: space-around;
  align-items: center;
}

.button .buttonP {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #5b657b, #243448);
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 35px;
}

.button .buttonP span {
  font-size: 1rem;
  color: #fff;
  font-weight: normal;
  font-family: 'Source Han Sans SC';
  line-height: normal;
}

.buttonP.cancel {
  background: #fff;
  border: 1px solid #243448;
}

.buttonP.cancel span{
  color: #243448;
}