.data {
    display: flex;
    flex: auto;
    background-color: #fff;
    position: relative;
    overflow: auto;
}

.connect {
    display: flex;
    margin-top: 0.3em;
    flex-direction: column;
    padding: 0 1.85em;
    flex: auto;
}

.uploadRow {
    display: flex;
    flex: none;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 0.4em;
}

.uploadBlock {
    display: flex;
    width: 2em;
    height: 2em;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: solid 1px #c4cbd7;
    margin-right: 0.35em;
    cursor: pointer;
}

.blockImg {
    display: flex;
    flex: 0 0 1.6em;
    justify-content: center;
    align-items: center;
}

.blockImg img {
    width: 1.2em;
}

.blockLabel {
    display: flex;
    flex: 0 0 0.4em;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient(to bottom, #5b657b, #243448);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.blockLabel span {
    font-size: 1rem;
    color: #fff;
}

.title {
    color: #4a4a4a;
    margin-bottom: 0.15em;
    display: flex;
}

.title span {
    font-size: 1.25rem;
}

.maxRow {
    color: #4a4a4a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.maxRow span {
    font-size: 1.125rem;
    display: flex;
}

.maxRow a {
    font-weight: bold;
    color: #63addc;
    font-size: 1.125rem;
}

.mark {
    display: flex;
    width: 0.25em;
    height: 0.25em;
    border-radius: 50%;
    background: #ccc;
    justify-content: center;
    align-items: center;
    margin: 0 0.05em;
    color: #fff;
    font-weight: bold;
}

.cutoff {
    display: flex;
    margin: 0.4em 0;
    align-items: center;
}

.cutoff span {
    font-size: 1.125rem;
    color: #9b9b9b;
}

.line {
    max-width: 3em;
    overflow: hidden;
    display: flex;
    border: solid 1px #979797;
    flex: auto;
}

.or {
    display: flex;
    margin: 0 0.3em;
}

.schema {
    display: flex;
    margin-top: 0.25em;
    flex-direction: column;
    flex: auto;
    padding: 0 1.85em;
}

.schemaInfo {
    background-color: #f1f4f6;
    border: solid 1px #c4cbd7;
    display: flex;
}

.schemaText {
    display: flex;
    flex-direction: column;
    flex: auto;
    line-height: 0.25em;
    margin: 0.2em 0;
} 

.schemaText span {
    font-size: 1.125rem;
    color: #4a4a4a;
    display: flex;
} 

.schemaI {
    width: 0.28em;
    height: 0.28em;
    margin: 0.2em 0.1em 0.2em 0.2em;
    background-color: #9fabb5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schemaI span {
    font-size: 1.25rem;
    color: #fff;
    font-weight: bold;
}

.schemaContent {
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.schemaTools {
    display: flex;
    padding: 0.1em 0.2em;
    background-color: #f1f4f6;
    border: solid 1px #cacfd7;
    margin-bottom: -1px;
}

.schemaSelect {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #c4cbd7;
    background-image: linear-gradient(to bottom, #5b657b, #243448);
    color: #fff;
    padding: 0 0.2em;
    margin-left: 0.85em;
    cursor: pointer;
}

.schemaSelect span {
    font-size: 0.875rem;
}

.content {
    display: flex;
    flex: auto;
}

.grid {
    border: 1px solid #ccc;
}

.cell {
    display: flex;
    flex: none;
    align-items: center;
    padding: 0 0.1em;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.content span {
    font-size: 0.875rem;
    overflow: hidden;
    padding: 0.5em 0;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
}

.target {
    background-color: #daefe4;
}

.check {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.checked {
    color: #9b9b9b;
}

.content select {
    display: flex;
    flex: auto;
    border: none;
    outline: none;
    font-size: 0.875rem;
    overflow: hidden;
    /* margin: 0.5em; */
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
}

.dataSide {
    display: flex;
    width: 1.3em;
    flex: none;
    flex-direction: column;
    margin-top: 0.2em;
}

.sideBox {
    display: flex;
    border: solid 1px #c4cbd7;
    border-right: none;
    flex-direction: column;
    justify-content: center;
}

.sideBlock {
    display: flex;
    flex: none;
    margin: 0.8em 0;
    justify-content: center;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

.sideBlock span{
    font-size: 0.875rem;
    color: #9b9b9b;
    text-align: center;
}

.sideLine {
    position: absolute;
    top: -1.4em;
    max-height: 1.2em;
    overflow: hidden;
    display: flex;
}

.sideLine span {
    writing-mode: tb-rl;
    white-space: nowrap;
}

.sideBlock.active span{
    color: #1d2b3c;
}

.sideIcon {
    display: flex;
    margin: 0.1em;
}