.load {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.block {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 6em;
}

.text {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.4;
}