.pca{
  display: flex;
  flex:2;
}
.table{
  flex:1;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
.table dl{
  font-size: 12px;
  border:1px solid rgba(151,151,151,1);
  margin-top: 10px;
  font-weight: normal;
  max-height: 310px;
  overflow: auto;
}
.table dt{
  line-height: 41px;
  border-bottom: 2px solid #9B9B9B;
}

.table dd{
  line-height: 30px;
  margin-bottom: 0;
}
.table dd:not(:last-child) li{
  border-bottom: 1px solid #757575;
}
.table ul{
  list-style: none;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
}
.table li {
  flex:2;
  padding-left: 12px;
  margin-left: 12px;
  white-space: nowrap;
}
.table li:first-child{
  flex:2;
}
.table li:last-child{
  flex:7;
  margin-right: 5px;
  /*white-space: nowrap;*/
}
.chart{
  flex:2;
  text-align: left;
  padding-left: 40px;
}
.chart >div{
  margin-bottom: 10px;
}
.chart >div >div{
  margin-left: 15px;
}
.chart div div div span{
  font-size: 8px;
}
.chart dl{
  display: flex;
}

.chart dl dt{
  flex:2;
}
.chart dl dd{
  flex:5;
}
