.summary {
	display: flex;
	flex: none;
	padding: 0.2em 0;
}

.summaryLeft {
	display: flex;
	flex: 7 7;
	width: 0;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.6);
	padding: .2em;
}

.summaryRight {
	display: flex;
	flex: 3 3;
	width: 0;
	flex-direction: column;
	margin: 0 0.3em;
	border: 1px solid rgba(0, 0, 0, 0.6);
	padding: .2em .4em;
}

.summaryTitle {
	display: flex;
	flex: none;
}

#summaryTitleSpan {
	font-family: 'Source Han Sans SC';
	font-size: 1.125rem;
	color: #4a4a4a;
	line-height: 1.2;
}

.summaryTypeBox {
	display: flex;
	flex: none;
	justify-content: space-around;
	/* margin-left: 35%; */
	margin-top: 0.3em;
}

.summaryType {
	display: flex;
	flex: none;
}

.summaryCube {
	display: flex;
	flex: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: .05em;
}

#summaryTypeSpan {
	font-family: Arial;
	font-size: 0.75rem;
	color: #4a4a4a;
	line-height: 1.2
}

.summaryTable {
	display: flex;
	flex: none;
	max-height: 3em;
	overflow-y: auto;
}

.summaryTableLeft {
	display: flex;
	flex: none;
	width: 35%;
	padding-right: 0.2em;
	flex-direction: column;
}

.summaryTableRight {
	display: flex;
	flex: none;
	width: 65%;
	flex-direction: column;
}

.summaryTableRow {
	display: flex;
	flex: none;
	justify-content: space-between;
	align-items: center;
	margin: 0.08em 0;
	height: 0.15em;
}

.summaryCell {
	display: flex;
	flex: none;
	max-width: 55%;
}

#summaryCellSpan {
	font-family: Arial;
	font-size: 0.875rem;
	color: #595959;
	line-height: 1.2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.summaryProgressBlock {
	display: flex;
	flex: none;
	overflow: hidden;
	border-radius: 5px;
	height: 10px;
	width: 100%;
}

.summaryProgress {
	display: flex;
	flex: none;
	height: 10px;
}

.summaryBottom {
	display: flex;
	flex: auto;
  flex-direction: column;
  justify-content: flex-end;
}

.summaryButton {
	display: flex;
	flex: none;
	padding: .1em 0;
	margin: .1em 0;
	width: 85%;
	border-radius: 5px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom, #5b657b, #243448);
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#summaryButtonSpan {
	font-family: 'Source Han Sans SC';
	font-size: 1rem;
	/* font-weight: bold; */
	text-align: left;
	color: #fff;
	line-height: 1.3;
	margin: 0;
	text-align: center;
}

.disabled {
	cursor: not-allowed;
	background-color: #d3d3d3;
	color: #aaaaaa;
	background-image: none;
	border: transparent;
	cursor: not-allowed;
}

.summaryPie {
	display: flex;
	flex: none;
	margin: .1em 0;
}

.summaryChart {
	display: flex;
	flex: none;
	width: 120px;
	height: 120px;
}

.summaryParts {
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: space-between;
	margin-left: .1em;
}

.summaryPart {
	display: flex;
	flex: none;
	flex-direction: column;
	margin: .1em 0;
}

.summaryPartText {
	display: flex;
	flex: none;
	align-items: center;
}

#summaryPartTextSpan {
	font-family: Arial;
	font-size: 0.875rem;
	color: #595959;
	line-height: 1.2;
}

.loading {
  height: 330px;
  position: relative;
  display: flex;
  flex: none;
  align-content: center;
  justify-content: center;
}