.rowData {
  display: flex;
  padding: 0 0.2em;
  position: relative;
  align-items: center;
  flex: none;
}

.trainingModel {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 0.08em 0;
  border-bottom: 1px solid #979797;
  width: 2.3em;
  margin: 0 0.05em;
  position: relative;
}

#trainingModelSpan {
  font-size: 0.875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: block;
  overflow: hidden;
}

.trainingAbort {
  display: flex;
  flex: none;
  justify-content: center;
  margin-top: 0.1em;
}

.abortButton {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #ffffff, #f1f3f5);
  padding: 0.05em 0.3em;
  margin: .05em auto;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 160px;
}

.abortButton :global(.anticon) {
  font-size: 1rem;
}

#abortButtonSpan {
  font-size: .875rem;
  font-weight: bold;
  color: #1d2b3c;
  font-family: 'Source Han Sans SC';
}