.content {
  width: 80%;
  overflow-y: auto;
  font-size: 18px;
  margin: 0 auto;
}

.header {
  padding: 24px 0;
}

.operate{
  margin-top: 36px;
}

.operate a{
  background-color: #445066;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 16px;
  color: white;
  font-size: 16px;
}

.search {
  background-color: #445066;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 8px;
  font-size: 12px;
}

.input{
  width: 336px;
  margin-bottom: 16px;
}
