.predictActual {
  display: flex;
  overflow: visible;
  vertical-align: top;
  width: 65%;
  font-size: 1rem;
  flex: none;
  flex-direction: column;
  .title {
    font-weight: bold;
    text-align: center;
  }
  .legends {
    justify-content: flex-end;
    display: flex;
    flex: none;
    .legend {
      display: inline-block;
      margin-right: 3em;
      .circle {
        vertical-align: middle;
        width: 10px;
        display: inline-block;
        height: 10px;
        border-radius: 50%;
      }
      .legendText {
        display: inline-block;
      }
    }
  }
  .loading {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
  }
}