.schema {
    display: flex;
    margin-top: 0.25em;
    flex-direction: column;
    flex: auto;
    padding: 0 10%;
    position: relative;
}

.schemaInfo {
    background-color: #f1f4f6;
    border: solid 1px #c4cbd7;
    display: flex;
}

.schemaText {
    display: flex;
    flex-direction: column;
    flex: auto;
    line-height: 0.25em;
    margin: 0.2em 0;
} 

.schemaText span {
    font-size: 1.125rem;
    color: #4a4a4a;
    display: flex;
} 

.schemaI {
    width: 0.28em;
    height: 0.28em;
    margin: 0.2em 0.1em 0.2em 0.2em;
    background-color: #9fabb5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schemaI span {
    font-size: 1.25rem;
    color: #fff;
    font-weight: bold;
}

.schemaContent {
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
}

.schemaTools {
    display: flex;
    padding: 0.1em 0.2em;
    background-color: #f1f4f6;
    border: solid 1px #cacfd7;
    margin-bottom: -1px;
}

.schemaSelect {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #c4cbd7;
    background-image: linear-gradient(to bottom, #5b657b, #243448);
    color: #fff;
    padding: 0 0.2em;
    margin-left: 0.4em;
    cursor: pointer;
}

.schemaSelect span {
    font-size: 0.875rem;
}

.content {
    display: flex;
    flex: auto;
}

.content span {
    font-size: 0.875rem;
    overflow: hidden;
    padding: 0.5em 0;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
}

.content select {
    display: flex;
    flex: auto;
    border: none;
    outline: none;
    font-size: 0.875rem;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
}


.disabled {
    cursor: not-allowed;
}

.bottom {
    display: flex;
    flex:none;
}

.checkBox {
    display: flex;
    flex: none;
    line-height: 0.4em;
    align-items: center;
    margin: 0.3em 0 0.6em 0.3em;
}

.checkBox span {
    font-size: 0.875rem;
    line-height: 1.1;
    font-family: SanFranciscoText;
    color: #1d2b3c;
}