.modeling {
    display: flex;
    flex: auto;
    background-color: #fff;
    overflow: auto;
}

.modelResult {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0 1.85em;
}

.modelResult span {
    font-size: 1.125rem;
    display: flex;  
    flex: none;
    font-family: SanFranciscoText;
    line-height: normal;
    align-items: baseline;
    color: #1d2b3c;
}

.result {
    display: flex;
    flex: none;
    margin-top: 0.4em;
}

.box {
    display: flex;
    flex-direction: column;
    flex: none;
}

.title {
    display: flex;
}

.title span {
    font-size: 1.25rem;
}

.text {
    display: flex;
}

.row {
    display: flex;
    margin-top: 0.15em;
}

.row span {
    color: #000;
}

.status {
    display: flex;
    font-size: 1.5rem;
    color: #f5a623;
    font-weight: bold;
}

.line {
    border-bottom: 3px solid #c4cbd7;
    margin: 0.2em 0;
    display: flex;
}

.selectBlock {
    display: flex;
}

.buttonBlock {
    display: flex;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
    align-items: baseline;
}

.button {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #5b657b, #243448);
    color: #fff;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0.1em 0.25em;
}

.button span {
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
}

.or {
    display: flex;
    margin: 0 0.25em;
}

.or span {
    font-size: 1.125rem;
    font-family: HelveticaNeue;
    color: #000;
}

.selectText {
    margin-right: 0.5em;
}

.radioGroup {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.radio label {
    font-size: 1.125rem;
    color: #000;
    font-family: SanFranciscoText;
    cursor: pointer;
}

.radio input {
    width: 0.16em;
    height: 0.16em;
    margin-right: 0.1em;
    cursor: pointer;
}

.performanceBox {
    display: flex;
    flex: auto;
    justify-content: center;
}

.performance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.2em; 
    margin-top: 0.2em;
    justify-content: center;
}

.performance path:last-child {
    stroke: #ff8000;
}

.performanceText {
    color: #000;
    margin-top: 0.15em;
    white-space: nowrap;
}

.progressBox {
    display: flex;
    flex-direction: column;
    margin-top: 0.25em;
    margin-left: 0.3em;
}

.progressBlock {
    margin-top: 0.05em;
}

.progressLine {
    display: flex;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress span {
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
}

.success {
    background-color: #9be44b;
}

.predicted {
    background-color: #adaafc;
}

.different {
    background-color: #f9cf37;
}

.progressTitle {
    margin-right: 0.1em;
}

.progressTitle span{
    font-size: 1.25rem;
    font-family: SanFranciscoText;
    color: #000;
}

.progressMeans {
    display: flex;
    margin-top: 0.2em;
}

.progressMeans span {
    font-size: 0.875rem;
    color: #000;
    white-space: nowrap;
}

.progressBlock {
    display: flex;
    align-items: center;
}

.progressSquare {
    width: 0.16em;
    height: 0.16em;
    margin: 0 0.15em;
}

.table {
    display: flex;
    flex-direction: column;
    flex: none;
    border: solid 0.5px #979797;
}

.rowData {
    display: flex;
    padding: 0 0.2em;
    position: relative;
    align-items: center;
}

.rowBox {
    display: flex;
    flex-direction: column;
    flex: none;
}

.cell span {
    font-size: 0.875rem;
    text-overflow: clip;
    white-space: nowrap;
}

.rowHeader {
    padding: 0.2em 0;
    border-bottom: solid 1px #9b9b9b;
}

.data {
    display: flex;
    flex-direction: column;
    padding: 0.2em 0;
    overflow: auto;
    max-height: 5em;
}

.cell {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    padding: 0.08em 0;
    border-bottom: 1px solid #979797;
    min-width: 1.4em;
    margin: 0 0.05em;
    position: relative;
}

.cell .progress span {
    font-size: 0.75rem;
    color: #000;
    font-weight: normal;
}

.cellHeader {
    border: none;
}

.name {
    width: 1.5em;
}

.predict {
    width: 3.1em;
    border: none;
}

.space {
    margin-left: 0.1em;
}

.compute {
    border: none;
    cursor: pointer;
}

.compute span {
    color: #448eed;
    text-decoration: underline;
}

.modelSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0.05em;
}

.rmsePerformance,
.r2Performance {
    display: flex
}

.rmsePerformance span {
    font-size: 2.2rem;
    color: #adaafc;
}

.r2Performance span {
    font-size: 2.2rem;
    color: #9be44b;
}

.loading {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error span {
    font-size: 3rem;
}

.training {
    display: flex;
    width: 8em;
}

.trainingProgress {
    text-align: center;
}

.trainingText {
    display: flex;
}

.trainingText span {
    font-size: 1.5rem;
}

.modelStart {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0 1.85em;
}

.startTitle {
    display: flex;
    margin: 0.45em 0;
    font-family: HelveticaNeue;
}

.startTitle span {
    font-size: 1.5rem;
}

.trainBox {
    display: flex;
    flex-direction: column;
    width: 4.5em;
    height: 4.5em;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: solid 1px #c4cbd7;
    position: relative;
}

.train {
    display: flex;
    flex: 0 0 0.4em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient(to bottom, #5b657b, #243448);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.train span {
    font-family: Arial;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
}

.trainBlock {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}

.trainRecommend {
    display: flex;
    position: absolute;
    left: 0.3em;
    top: 0.2em;
}

.trainRecommend span {
    font-size: 0.875rem;
}

.trainImg {
    display: flex;
    margin-top: 1.1em;
    flex: none;
}

.trainName {
    display: flex;
    justify-content: center;
    margin: 0.2em 0;
}

.trainName span {
    display: flex;
    font-size: 1.5rem;
}

.trainDesc {
    display: flex;
    justify-content: center;
    margin: 0.13em 0.5em;
}

.trainDesc span {
    font-size: 0.875rem;
    display: flex;
    line-height: 1.43;
    color: #747473;
}

.detail {
    display: flex;
    flex-direction: column;
    padding: 0.1em 0;
}

.detailRow {
    display: flex;
    padding: 0 0.25em;
    flex: none;
    align-items: center;
}

.detailRow span {
    font-size: 0.875rem;
}

.detailName {
    display: flex;
    flex: 0 0 1em;
}

.detailNum {
    display: flex;
    flex: 0 0 1em;
}

.detailProcess {
    height: 0.875rem;
    background: linear-gradient(to right, #b3e993 0%, #91c771 100%);
    border-radius: 0.875rem;
}