.content {
  display: flex;
  flex: none;
  width: 1em;
  height: .4em;
  position: relative;
  flex-direction: column;
}

.sep {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  z-index: -1;
}

span#sepText {
  width: 100%;
  border-top: 1px solid;
  padding: 0;
  transform: rotate(21.8deg);
}

.row {
  display: flex;
  width: 50%;
  height: 50%;
  align-items: center;
}

span#text {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: .5rem;
}