.header {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  flex: 0 0 1.2em;
  display: flex;
  z-index: 1;
  overflow-x: auto;
  position: relative;
}

.block {
  color: #1d2b3c;
  flex: 0 1 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

.number {
  font-size: 2.5rem;
  display: block;
  font-family: 'Source Han Sans SC';
}

.text {
  font-size: 1.2rem;
  display: block;
  font-family: shareTech-Regular;
}

.disabled .number {
  opacity: 0.5;
}

.issue .number {
  color: #ff3151;
}

.gap {
  flex: 0 2 0.5em;
}

.empty {
  flex: 1 1 auto;
}

.user {
  flex: 0 1 1.4em;
  display: flex;
  flex-direction: column;
  padding: 0.24em 0.3em;
}

.avatar {
  display: block;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  border: 1px solid #979797;
  flex: 0 0 0.5em;
  margin: 0 auto;
}

.userBottom {
  position: relative;
  margin-top: 0.15em;
  display: flex;
  align-items: center;
}

.down {
  display: flex;
  margin-left: 0.1em;
  margin-top: 0.05em;
  cursor: pointer;
}

.name {
  font-size: 0.875rem;
  line-height: 1.5rem;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: center;
  font-family: 'Source Han Sans SC';
}

.wheader {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: auto;
  position: relative;
}

.wavatar {
  border: 1px solid #979797;
  width: 0.7em;
  height: 0.7em;
  flex: 0 0 0.7em;
  border-radius: 50%;
  margin-right: 0.2em;
}

.welcome {
  font-size: 1.125rem;
  font-family: 'Source Han Sans SC';
}

.more {
  margin-left: 0.2em;
  cursor: pointer;
}

.notification {
  display: none;
  flex: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0.3em;
  position: relative;
}

.notification img {
  margin: 0.16em;
  height: 0.32em;
  width: 0.28em;
}

.notification span {
  font-size: 0.875rem;
  font-family: 'Source Han Sans SC';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d2b3c;
}

span.num {
  font-weight: bold;
  color: #ff3151;
}

.pot {
  position: absolute;
  width: 0.12em;
  height: 0.12em;
  background: #ff3151;
  border-radius: 50%;
  top: 0.36em;
  right: 0.3em;
}

.menu {
  display: flex;
  flex: auto;
  justify-content: center;
}

.tools {
  display: flex;
  flex: none;
}

.item {
  max-width: 2.6em;
  display: flex;
  justify-content: center;
  position: relative;
  flex: auto;
}

.item.current {
  border-bottom: 0.04em solid #1d2b3c;
}

.item span {
  font-size: 1.125rem;
  font-family: 'Source Han Sans SC';
  color: #979797;
}

.item.active span {
  color: #1d2b3c;
}

.item.current span {
  font-family: 'Source Han Sans SC';
  font-weight: bold;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0.3em auto 0.15em;
}

.iconBlock {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.iconText {
  display: flex;
}

.line {
  position: absolute;
  display: flex;
  top: 0.5em;
  left: -0.96em;
  max-width: 1.92em;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.item .line span {
  font-weight: normal;
  font-size: 0.875rem;
  font-family: 'Source Han Sans SC';
  white-space: nowrap;
  color: #c6c6c6;
}

.item.active .line span {
  color: #1d2b3c;
}

.auth {
  position: absolute;
  right: 0;
  display: flex;
  height: 1.2em;
  align-items: center;
  margin-right: 0.5em;
}

.auth span {
  color: #1d2b3c;
  font-size: 1.5rem;
  cursor: pointer;
}

.loginIcon {
  display: flex;
  margin: 0.1em;
}

.logout :global(.ant-dropdown-menu-item) {
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}

.logout :global(.ant-dropdown-menu-item .anticon) {
  margin-right: 1rem;
}
