html {
  font-size: 16px;
}

.report {
  font-size: 80px;
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
}

.title small {
  float: right;
  font-size: 16px;
  color: cornflowerblue;
  line-height: 48px;
  cursor: pointer;
}

.subTitle {
  font-size: 28px;
}

.block {
  margin-bottom: 40px;
  position: relative;
}

.block :global(.ant-checkbox-wrapper) {
  position: absolute;
  top: 8px;
  left: -24px;
}

.blockTitle {
  font-size: 24px;
  text-align: left;
}

.blockTitle small {
  color: cornflowerblue;
  cursor: pointer;
}

.profile {
  font-size: 16px;
}

.correlationMatrix {
  font-size: 16px;
}

.blockRow {
  margin-top: 10px;
}

.performance {
  font-size: 16px;
}

.schema {
  font-size: 16px;
  width: 500px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.schemaRow {
  display: flex;
}

.schemaHeader {
  background: #ccc;
}

.schemaCell {
  padding: 2px 5px;
  flex: 1 0 0;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metrics {
  font-size: 16px;
  width: 800px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.metricsRow {
  display: flex;
}

.metricsHeader {
  background: #ccc;
}

.metricsCell {
  padding: 2px 5px;
  flex: 1 0 0;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
}
