html {
  font-size: 16px;
}

.report {
  font-size: 80px;
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
}

.subTitle {
  font-size: 28px;
}

.block {
  margin-bottom: 40px;
}

.blockTitle {
  font-size: 24px;
  text-align: left;
}

.profile {
  font-size: 16px;
}

.correlationMatrix {
  font-size: 16px;
}

.blockRow {
  margin-top: 10px;
}

.performance {
  font-size: 16px;
}

.target:first-child {
  margin-right: 100px;
}

.target {
  display: inline-block;
}

.etlTitle {
  font-size: 16px;
  display: block;
  text-align: left;
}

.targetPlot {
  width: 450px;
}

.schema {
  font-size: 16px;
  width: 500px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.schemaRow {
  display: flex;
}

.schemaHeader {
  background: #ccc;
}

.schemaCell {
  padding: 2px 5px;
  flex: 1 1 0;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
