.operation {
  padding: 0.2em 0.6em;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.info {
  display: flex;
  padding: 0.2em;
  border-bottom: 1px dashed #d7d7d7;
}
.model {
  font-size: 1.125rem;
  margin-right: 3em;
  line-height: 1.5rem;
}
.mark {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-style: normal;
  color: white;
  background: #c4cbd7;
  margin-left: 2px;
  cursor: pointer;
}
.emptyTable {
  border: 1px solid #b5bec6;
  margin-top: 0.15em;
  border-radius: 0.05em;
  background: #f6f6f8;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
}
.emptyIcon {
}
.emptyText {
  font-size: 1.875rem;
  color: #c4cbd7;
  margin-top: 1.5rem;
}
.table {
  background: #e0e3e9;
  border: 1px solid #b5bec6;
  border-radius: 5px;
  margin-top: 0.3em;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
}
.head {
  display: flex;
  margin-bottom: 0.25em;
  padding: 0 0.2em;
  flex: 0 0 0.4em;
}
.head span {
  flex: 1 1 0;
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 1rem;
  overflow: hidden;
}
.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.project {
  display: flex;
  padding: 0.2em 0.2em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background: white;
  margin-bottom: 0.04em;
  border-radius: 4px;
  flex: 1 0 auto;
}
.project:hover {
  background: #f6f6f8;
}

.project .results,
.project span {
  flex: 1 1 0;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
  line-height: 1.2;
}
span.modelName,
span.deploymentTime,
span.deploymentStyle {
  flex: 2 1 0;
}
.project .results {
  text-decoration: underline;
  cursor: pointer;
}
.issue {
  color: #ff3151;
  cursor: pointer;
}
.alert {
  width: 400px;
}
.alertHead {
  font-size: 1.125rem;
  color: #ff3151;
  font-weight: bold;
}
.alertIcon {
  margin-right: 0.5rem;
  vertical-align: text-bottom;
}
.alertContent {
  font-size: 1.125rem;
}
.path {
  text-decoration: underline;
}
