.status {
  padding: 0.2em 0.6em;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.list {
  flex: 1 1 0;
}
.top {
  border: 1px solid #b5bec6;
  border-radius: 4px;
  background: #f6f6f8;
  display: flex;
  height: 1em;
  align-items: center;
  padding: 0 0.1em;
  justify-content: space-between;
}
.model {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2em;
}
.modelLabel {
  font-size: 1.125rem;
  color: #4a4a4a;
  margin-right: 0.5rem;
}
.topModelName {
  font-size: 1.125rem;
  color: #4a4a4a;
  font-weight: bold;
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items {
  display: flex;
  height: 100%;
  flex: 1 0 0;
  justify-content: space-evenly;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.1em 0;
}
.label {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 1.5rem;
}
.text {
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: bold;
}
.edit {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #5b657b, #243448);
  border-radius: 4px;
  color: white;
  font-size: 1.25rem;
  width: 7.5rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
}
.edit:hover {
  color: white;
}
.edit:active {
  background: linear-gradient(to top, #5b657b, #243448);
}
.helpIcon,
.infoIcon {
  margin-left: 0.5rem;
  vertical-align: middle;
}
.table {
  background: #e0e3e9;
  border: 1px solid #b5bec6;
  border-radius: 5px;
  margin-top: 0.3em;
  padding: 0.25em;
}
.head {
  display: flex;
  margin-bottom: 0.25em;
  padding: 0 0.2em;
}
.head span {
  flex: 1 1 0;
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 1rem;
}
.list {
  display: flex;
  flex-direction: column;
}
.project {
  display: flex;
  padding: 0.2em 0.2em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background: white;
  margin-bottom: 0.04em;
  border-radius: 4px;
}
.project:hover {
  background: #f6f6f8;
}
.project span {
  flex: 1 1 0;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
  line-height: 1.2;
}
.issue {
  color: #ff3151;
  cursor: pointer;
}
.alert {
  width: 400px;
}
.alertHead {
  font-size: 1.125rem;
  color: #ff3151;
  font-weight: bold;
}
.alertIcon {
  margin-right: 0.5rem;
  vertical-align: text-bottom;
}
.alertContent {
  font-size: 1.125rem;
}
.path {
  text-decoration: underline;
  font-weight: bold;
}
.emptyTable {
  border: 1px solid #b5bec6;
  margin-top: 0.15em;
  border-radius: 0.05em;
  background: #f6f6f8;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
}
.emptyIcon {
}
.emptyText {
  font-size: 1.875rem;
  color: #c4cbd7;
  margin-top: 1.5rem;
}
