.projectSide {
    display: flex;
    width: 1.3em;
    flex: none;
    flex-direction: column;
    margin-top: 0.2em;
    position: absolute;
    right: 0;
}

.sideBox {
    display: flex;
    border: solid 1px #c4cbd7;
    border-right: none;
    flex-direction: column;
    justify-content: center;
}

.sideBlock {
    display: flex;
    flex: none;
    margin: 0.8em 0;
    justify-content: center;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

.sideBlockLarge {
    margin: 1.3em 0;
}

.sideBlock span{
    font-size: 0.875rem;
    color: #9b9b9b;
    text-align: center;
    word-wrap: break-word;
    word-spacing: 5em;
    overflow: hidden;
}

.sideLine {
    position: absolute;
    top: -1.4em;
    max-height: 1.2em;
    overflow: hidden;
    display: flex;
}

.sideLineLarge {
    top: -2.5em;
    max-height: 2.4em;
}

.sideLine span {
    writing-mode: tb-rl;
    white-space: nowrap;
}

.sideBlock.active span{
    color: #1d2b3c;
}

.sideIcon {
    display: flex;
    margin: 0.1em;
}