.background {
  position: fixed;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
}

.bgImage {
  background: url(./graph.svg) no-repeat fixed bottom;
  background-size: contain;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.column {
  width: 0.6em;
  background: rgba(30, 99, 165, 0.2);
  opacity: 0.1;
  margin-right: 0.05em;
  flex: 0 0 0.6em;
}

.circle {
  position: absolute;
  top: 50%;
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 4em;
  border-radius: 50%;
  border: 0.08em solid #1d2b3c;
  border-left: 0.08em solid #c4cbd7;
  opacity: 0.04;
  color: #1d2b3c;
  margin-top: -2em;
  margin-left: 1em;
  font-family: HelveticaNeue-UltraLight;
  transform: rotate(45deg);
}

.number {
  font-size: 9rem;
  display: inline-block;
  transform: rotate(-45deg);
}

.percent {
  font-size: 4.5rem;
}

.create {
  position: relative;
  padding: 0.37em 0;
}

.panel {
  box-sizing: border-box;
  width: 9.76em;
  height: 6.8em;
  padding: 0.71em 0.78em;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0.15em 0.3em 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.title {
  font-size: 1.875rem;
  margin: 0;
  font-weight: normal;
}

.selected {
  margin-top: 0.41em;
}

.selectedText {
  display: block;
  font-size: 1.25rem;
  color: #4a4a4a;
}

.modelName {
  display: block;
  font-size: 1.25rem;
  color: #4a4a4a;
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.selections {
  margin-bottom: 0.64em;
  margin-top: 0.46em;
  display: flex;
  justify-content: space-between;
}

.modify,
.new {
  box-sizing: border-box;
  width: 3.8em;
  height: 2.66em;
  background: #f9fbfc;
  border: 2px solid #dde5ef;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.modify:hover .icon,
.new:hover .icon {
  transform: scale(1.1, 1.1);
}

.iconWrapper {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.icon {
  transition: all 0.3s ease;
}

.text {
  font-size: 1.25rem;
  line-height: 3.25rem;
  background: linear-gradient(to bottom, #5b657b, #243448);
  display: block;
  color: white;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: -2px -2px;
  margin-top: 0;
}

.back:before {
  content: '<';
}

.back {
  font-size: 1.25rem;
  text-decoration: underline;
  display: block;
  cursor: pointer;
  color: #1d2b3c;
}
