.root {
  text-align: center;
  padding-top: 8px;
  background: white;
  padding: 0 50px;
  width: 100%;
  min-width: 1350px;
  overflow-y: auto
}


.header {
  font-size: 24px;
  color: black;
  text-align: left;
  padding: 12px 0;
  border-bottom: 1px #1D2B3C solid;
  margin-bottom: 30px
}

.body {
}

.top {
  display: flex;
  marginBottom: 40
}

.left {
  flex: 1 1 0
}

.right {
  flex: 1 1 0;
  fontSize: 50;
  border: 1px solid;
}

.descriptions {
  fontSize: 18;
  color: #1D2B3C;
  textAlign: left;
  lineHeight: 40px;
  marginBottom: 40
}

.modelName {
  color: #448EED
}

.scores {
  display: flex;
  flexDirection: row;
  marginBottom: 40
}

.score {
  flex: 0 0 200px
}

.rate {
  flex: 0 0 200px
}

.cvnn {
  flex: 0 0 150px
}

cluster {
  flex: 0 0 240px
}

.rSquared {
  flex: 0 0 200px;
}

.blood {
  fontSize: 48;
  color: #D0021B;
}

.orange {
  fontSize: 48;
  color: #FF8000;
  textAlign: left
}

.green {
  fontSize: 48;
  color: #4EC078;
}

.label {
  fontSize: 18;
  fontWeight: bold;
  textAlign: left;
  display: block
}

.rateLabel {
  fontSize: 18;
  fontWeight: bold;
  display: block
}

.table {
  display: flex;
  flexDirection: column;
  flex: none;
  border: solid 0.5px #979797;
}

.rowData {
  display: flex;
  padding: 0 20px;
  position: relative;
  alignItems: center;
  flex: none
}

.rowBox {
  display: flex;
  flexDirection: column;
  flex: none;
  position: relative;
}

.cell {
  display: flex;
  justifyContent: start;
  alignItems: center;
  padding: 8px 0;
  borderBottom: 1px solid #979797;
  minWidth: 140;
  margin: 0 5px;
  position: relative;
  flex: 0 0 230px;

}

.cell span {
  fontSize: 14px;
  overflow: hidden;
  textOverflow: ellipsis;
  whiteSpace: nowrap;
  height: 16px;
}

.cell .progress span {
  fontSize: 12;
  color: #000;
  fontWeight: normal;
}

.ccell {
  display: flex;
  justifyContent: start;
  alignItems: center;
  padding: 8px 0;
  borderBottom: 1px solid #979797;
  minWidth: 125;
  margin: 0 5px;
  position: relative;
  flex: 0 0 125px;
}

.ccell span {
  fontSize: 14;
  overflow: hidden;
  textOverflow: ellipsis;
  whiteSpace: nowrap;
  height: 16px
}

.ccell .progress span {
  fontSize: 12;
  color: #000;
  fontWeight: normal;

}

.cname {
  width: 125px;
  flex: none;
}

.cname span {
  overflow: hidden;
  textOverflow: ellipsis;
  whiteSpace: nowrap;
  maxWidth: 100%;
  display: block
}

.rowHeader {
  padding: 20px 0;
  borderBottom: solid 1px #9b9b9b
}

.data {
  display: flex;
  flexDirection: column;
  padding: 20px 0;
  overflowY: auto;
  overflowX: visible;
  maxHeight: 500px;
  marginLeft: -200px;
  paddingLeft: 200px;
}

.cellHeader {
  border: none;
  cursor: pointer;
}

.ccellHeader {
  border: none;
  cursor: pointer;
}

.name {
  width: 230px;
  flex: none;
}

.name span {
  overflow: hidden;
  textOverflow: ellipsis;
  whiteSpace: nowrap;
  maxWidth: 100%;
  display: block
}

.compute {
  border: none;
  cursor: pointer;
}

.compute span {
  color: #448eed;
  textDecoration: underline
}

.tabs {
  borderBottom: 1px #1D2B3C solid;
  display: flex;
  justifyContent: flex-end;
  marginBottom: 40px
}

.tab {
  color: black;
  fontSize: 18;
  width: 250px;
  padding: 10px 0;
  marginBottom: -1;
  cursor: pointer
}

.active {
  fontWeight: bold;
  borderBottom: 5px black solid
}
