.connect {
    display: flex;
    margin-top: 0.3em;
    flex-direction: column;
    padding: 0 10%;
    flex: auto;
}

.chooseCharset {
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: 1rem;
}

.charsets {
  width: 10rem;
}

.uploadRow {
    display: flex;
    flex: none;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 0.4em;
}

.uploadBlock {
    display: flex;
    flex: none;
    width: 2em;
    height: 2em;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: solid 1px #c4cbd7;
    margin-right: 0.35em;
    cursor: pointer;
}

.blockImg {
    display: flex;
    flex: 0 0 1.6em;
    justify-content: center;
    align-items: center;
}

.blockImg img {
    width: 1.2em;
}

.blockLabel {
    display: flex;
    flex: 0 0 0.4em;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient(to bottom, #5b657b, #243448);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.blockLabel span {
    font-size: 1rem;
    color: #fff;
}

.title {
    color: #4a4a4a;
    margin-bottom: 0.15em;
    display: flex;
    flex: none;
    align-items: center;
}

.title span {
    font-size: 1.25rem;
}

.maxRow {
    color: #4a4a4a;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
}

.maxRow span {
    font-size: 1.125rem;
    display: flex;
}

.maxRow a {
    font-weight: bold;
    color: #63addc;
    font-size: 1.125rem;
}

.mark {
    display: flex;
    width: 0.25em;
    height: 0.25em;
    border-radius: 50%;
    background: #ccc;
    justify-content: center;
    align-items: center;
    margin: 0 0.05em;
    color: #fff;
    font-weight: bold;
}

.cutoff {
    display: flex;
    margin: 0.4em 0;
    align-items: center;
}

.cutoff span {
    font-size: 1.125rem;
    color: #9b9b9b;
}

.line {
    max-width: 3em;
    overflow: hidden;
    display: flex;
    border: solid 1px #979797;
    flex: auto;
}

.or {
    display: flex;
    margin: 0 0.3em;
}

.sample {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Arial;
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.sampleBlock {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 12em;
    border-radius: 4px;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.3);
    position: relative;
}

.sampleTitle {
    display: flex;
    justify-content: center;
    flex: auto;
    background-color: #445167;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0.1em 0;
}

.sampleTitle span {
    font-size: 1.125rem;
    color: #fff;
}

.sampleTop {
    display: flex;
    justify-content: center;
    flex: auto;
    margin-top: 0.4em;
}

.sampleTop span {
    font-size: 1.125rem;
}

.sampleTable {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0.5em 0.4em;
}

.sampleHeader {
    display: flex;
    padding: 0.15em 0;
    padding-left: 0.3em;
    border-bottom: solid 1px #c4cbd7;
}

.sampleHeader span {
    font-size: 0.875rem;
    font-weight: bold;
}

.sampleRow {
    display: flex;
    border: solid 1px #c4cbd7;
    border-top: none;
    flex: 0 0 0.4em;
    align-items: center;
    cursor: pointer;
}

.sampleRow span {
    font-size: 0.75rem;
}

.sampleCell {
    display: flex;
    flex: 1 1 0;
    width: 0;
}

.sampleDesc {
    flex: 2 1 0;
}

.sampleCell span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sampleRadio {
    display: flex;
    flex: 0 0 0.3em;
    justify-content: center;
}

.sampleButton {
    display: flex;
    margin-top: 0.3em;
    justify-content: center;
}

.submit {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #5b657b, #243448);
    color: #fff;
    border: 0;
    border-radius: 5px;
    display: flex;
    padding: 0.1em 0.2em;
    justify-content: center;
    cursor: pointer;
}

.submit span {
    font-size: 1rem;
}

.close {
    display: flex;
    position: absolute;
    right: 0;
    padding: 0 0.2em;
    cursor: pointer;
}

.progressBlock {
    background: #fff;
    width: 6.5em;
    display: flex;
    flex: none;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3)
}

.progressTitle {
    display: flex;
    flex: none;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #455267;
    justify-content: center;
    padding: 0.1em 0;
}

.progressTitle span {
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.2;
}

.progressContent {
    display: flex;
    flex: none;
    flex-direction: column;
    margin: 0.45em 0;
    padding: 0 0.55em;
}

.progressLoad {
    display: flex;
    flex: none;
    justify-content: center;
}

.progressLoad img {
    height: 1.3em;
}

.progressing{
    display: flex;
    flex: none;
    margin-top: 0.2em;
}

.progressText{
    display: flex;
    flex: none;
    margin: 0.2em 0;
}

.progressText span {
    color: #4a4a4a;
    font-family: Arial;
    line-height: 1.1;
    font-size: 0.875rem;
}

.progressButton {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    margin-left: auto;

}

.progressButton span {
    line-height: 1.1;
    font-size: 0.875rem;
    color: #63addc;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
    background-color: #d3d3d3;
    color: #aaaaaa;
    background-image: none;
}
