
.funcTips {
  padding: 0.5rem 0;
  font-Family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

}

.funcTipsName {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2;
}

.funcTipsContent {
  font-size: .875rem;
}

.funcTipsTitle {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
}

.funcTipsCol {
  font-size: 0.875rem;
}
