
.funcTips {
  padding: 0.5rem 0;
  font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
}

.funcTipsName {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2;
}

.funcTipsContent {
  font-size: .875rem;
}

.funcTipsTitle {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
}

.funcTipsCol {
  font-size: 0.875rem;
}
