.test {
  background: green;
}

.hover {
  position: relative;
}

.hover:after {
  opacity: 0;
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.1s ease;
}

.hover:hover:after {
  opacity: 0.08;
}

.content {
  padding: 0.3em 0.4em;
}
