/* global css file */

html,
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  word-break: normal !important;
  margin: 0;
  font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1440px) {
  html,
  body {
    font-size: 12.8px;
  }
}

@font-face {
  font-family: ShareTech-Regular;
  src: url('./ShareTech-Regular.ttf');
}

.ant-popover-inner-content dt{
  text-transform:Capitalize;
}

.ant-dropdown-menu-item > a{
  font-size: 16px;
}

.ant-tree-title{
  white-space: normal;
}

.ant-tree li .ant-tree-node-content-wrapper{
  height:auto !important;
  position: relative;
  width: 95%;
}
.ant-tree li .ant-tree-node-content-wrapper:before{
  height: 100% !important;
}

.ant-tree-iconEle{
  display: none !important
}

.ant-tree-switcher{
  background-color: transparent !important;
  color:#000 !important;
}

.anticon-file{
  display: none;
}

.ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:before, .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:before{
  background: #e7eaf0 !important;
}

.ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper > span, .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper > span{
  color:#1d2b3c !important;
}

.ant-tabs-nav .ant-tabs-tab:hover{
  color: #445065 !important;
}

.ant-tabs-ink-bar{
  background: #445065 !important;
}

.ant-tabs-nav .ant-tabs-tab{
  color: #445065 !important;
}

.ant-modal-confirm .ant-modal-confirm-btns{
  float: none !important;
  text-align: center;
  margin-top: 20px;
}

.ant-btn-primary{
  background: #243448 !important;
  border-color: #243448 !important;
}
.anticon svg{
  display: none !important;
}
