/* global css file */

html,
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  word-break: normal !important;
  margin: 0;
  font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1440px) {
  html,
  body {
    font-size: 12.8px;
  }
}

@font-face {
  font-family: ShareTech-Regular;
  src: url('./ShareTech-Regular.ttf');
}
