.button {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #5b657b, #243448);
    color: #fff;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 1em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  .buttonr{
      position: absolute;
      left: 600px;
      top: 30%;
  }
  .detailCurves {
    display: flex;
    flex: none;
    font-size: 1rem;
  }
  .detailCurves .rightPanel {
    flex: 2;
    position: relative;
  }
  .detailCurves .rightPanel .plot {
    display: flex;
    padding: 1em;
  }
  .detailCurves .rightPanel .plot img {
    width: 400px;
    height: 300px;
  }
  .detailCurves .leftPanel {
    min-width: 300px;
    padding: 0.5em 3em;
    min-height: 200px;
     border-right: 1px solid #979797;
  }
  .detailCurves .leftPanel .thumbnails {
    display: flex;
    flex-wrap: wrap;
  }
.detailCurves .leftPanel .thumbnails img{
  width: 52px;
}
.detailCurves .leftPanel .thumbnails .thumbnail {
    flex-basis: 50%;
    text-align: center;
  }
.thumbnail{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.thumbnail img{
  width: 52px;
  height: 52px;
  margin-right: 3px;
  flex:0 0 52px;
}
.thumbnail div{
  text-align: left;
}
  .detailCurves .leftPanel button {
    margin-right: 0.2em;
  }
  .detailCurves .leftPanel .predictTable {
    background-color: white;
    margin: 1em 0;
  }
  .detailCurves .leftPanel .predictTable th,
  .detailCurves .leftPanel .predictTable td {
    padding: 0 8px !important;
  }

  .predictTable td{
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  .predictTable span{
    overflow: auto;
    display: -webkit-box;
    max-height: 100px;
    word-break: break-word;
  }
  .detailCurves .leftPanel .predictTable :global(.ant-table-tbody) :global(.ant-table-row):first-child td:nth-of-type(1),
  .detailCurves .leftPanel .predictTable :global(.ant-table-tbody) :global(.ant-table-row):nth-of-type(2) td:nth-of-type(1) {
    background-color: #eaeff5;
  }
  .detailCurves .leftPanel .predictTable :global(.ant-table-thead) th {
    background-color: white;
  }
  .detailCurves .leftPanel .predictTable :global(.ant-table-thead) th:nth-of-type(2),
  .detailCurves .leftPanel .predictTable :global(.ant-table-thead) th:nth-of-type(3) {
    background-color: #edfddb;
  }
  .detailCurves .leftPanel .predictTable tr td {
    white-space: nowrap;
  }

  .residualDiagnose {
    padding-bottom: 0.5em;
  }
  .residualDiagnose .plot {
    display: inline-block;
    width: 30%;
  }
  .residualDiagnose .choosePlot {
    display: inline-block;
    width: 70%;
    vertical-align: top;
  }
  .residualDiagnose .choosePlot .radioWrapper {
    display: inline-block;
    margin: 0.1em;
  }

  .diagnoseResult {
    display: inline-block;
    width: 500px;
    vertical-align: top;
    margin-top: 1em;
  }
  .diagnoseResult .content {
    margin-top: 1em;
  }
  .diagnoseResult .content .items {
    /*margin-left: 2em;*/
    list-style-type: initial;
  }
  .diagnoseResult .content .action {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .diagnoseResult .content .action span {
    display: inline-block;
    width: 250px;
    font-size: 8px;
  }
  .diagnoseResult .content .action button {
    width: 205px;
    float: right;
  }
  .diagnoseResult .header {
    font-weight: bold;
  }
.diagnoseResult .header +div{
  padding: 10px 0;
}
