.main {
  display: flex;
  flex: auto;
  flex-direction: column;
  border: #d8d8d8 1px solid;
  max-height: 50vh;
}

.header {
  display: flex;
  flex: none;
  border-bottom: 1px solid #d8d8d8;
}

.headerCell {
  display: flex;
  flex: 1 1;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  width: 0;
  cursor: pointer;
  position: relative;
}

span.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: block;
}

.toolCell {
  display: flex;
  width: 0;
  flex: 2 2;
  align-items: center;
  position: relative;
  background: #f0f2f6;
  padding-right: 17px;
}

.tools {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 60px;
  display: flex;
  flex: none;
}

.metric {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.metricText {
  display: flex;
  flex: none;
  padding-right: 10px;
  background: #fff;
}

.metricBg {
  position: absolute;
  top: 30px;
  height: 30px;
  width: 100%;
  border: 1px #000 solid;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.metricSwitch {
  position: absolute;
  top: 0;
  right: 100%;
  height: 60px;
  display: flex;
  flex: none;
  align-items: center;
  margin-right: 15px;
}
.metricSwitch span {
  margin: 0 10px;
  white-space: nowrap;
}

.body {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 10px 0;
  overflow-y: scroll;
  padding-left: 200px;
  margin-left: -200px;
}

.rowBody {
  display: flex;
  flex: auto;
  flex-direction: column
}

.row {
  display: flex;
  flex: none;
  position: relative;
  align-items: center;
}

.cell {
  display: flex;
  flex: 1 1;
  padding: 10px 0;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  width: 0;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
}

.scoreCell {
  display: flex;
  width: 0;
  flex: 2 2;
  align-items: center;
  position: relative;
}

.name {
  flex: 0 0 260px;
  margin: 0 10px;
}

.check {
  position: absolute;
  display: flex;
  flex: none;
  left: -20px;
  cursor: pointer;
}